.slick-prev::before, .slick-next::before {
    color: gray !important;
    font-size: 3rem !important;
    
}

.slick-prev{
   left:-49px!important;
   z-index: 100!important;
}

.width-item{
    /* width: 100% !important; */
    width: 33% !important;
    height: 453px !important; 
}

.active_Film {
    @apply bg-red-500 text-white
}

.none_active_film {
    @apply bg-white text-gray-800;
}

