.detailBackground {
    margin-top: 20px;
    
    background-size: cover;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    filter: blur(20px);
    min-height: 100vh;
    width: 100%;

}

.detailContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.booketMovieTable {
    @apply mt-16  mx-36  px-5 py-5 shadow;
    background: rgba(255, 255, 255, 1);

}